In [1]:
from domino.data_sources import DataSourceClient

# instantiate a client and fetch the datasource instance
ds = DataSourceClient().get_datasource("Snowflake_heart_disease")

# res is a simple wrapper of the query result
res = ds.query("select * from HEART_DISEASE limit 100")

# to_pandas() loads the result into a pandas dataframe
df = res.to_pandas()

In [2]:
df.head()

   AGE  SEX  CP  TRESTBPS  CHOL  TARGET
0   38    1   2       138   175       1
1   41    1   1       120   157       1
2   67    1   0       160   286       0
3   67    1   0       120   229       0
4   62    0   0       140   268       0